<ul>
  {{#each model as |legislator|}}
    <li><span class="upper">{{legislator.chamber}}</span>: {{legislator.first_name}} {{legislator.last_name}}<br>Contact: <a href= {{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
  {{/each}}
</ul>
